.App {
  text-align: center;
}

.MuiListItem-gutters.MuiListItem-root.Mui-selected,
.MuiListItem-gutters.MuiListItem-root.Mui-selected:hover {
  background-color: white;
  border-bottom: 3px solid rgb(255, 167, 67);
  color: rgb(255, 167, 67);
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0 5%;
  margin: 0;
}

/* .header {
  display: flex;
} */

.headerList {
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(255, 167, 67); */
}

.headerItem {
  color: rgb(255, 167, 67);
  text-decoration: none;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.headerItem:visited {
  border-bottom: orange 2px solid;
}